@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards&subset=latin,latin-ext);

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #ecf0f1;
}

.btn{
    border-bottom-width: 6px;
    box-shadow: 0 1px 1px #888;
    -webkit-box-shadow: 0 1px 1px #888;
    -moz-box-shadow: 0 1px 1px #888;
    -o-box-shadow: 0 1px 1px #888;

    &:hover{
        border-bottom-width: 2px;
        margin-top: 4px;
    }
}



input.form-control, .material-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #3498db;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    background-color: transparent;

    &:focus, &:active{
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    + .input-group-addon {
        background-color: transparent;
        border: none;
        border-radius: 0;
    }
}

.material-input{
    display: inline;
    font-size: inherit;
    padding-bottom: 5px;
    color: lighten(black, 10%);

    .glyphicon{
        cursor: pointer;
        color: #ccc;
        font-size: 0.8em;

        &:hover{
            color: #888;
        }
    }
}

button {
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
}

button:active, button:focus, input:focus {
    outline: none;
}


@include generate-margin-classes-for(-20);

@include generate-margin-classes-for(0);

@include generate-margin-classes-for(5);

@include generate-margin-classes-for(10);

@include generate-margin-classes-for(15);

@include generate-margin-classes-for(20);

@include generate-margin-classes-for(25);

@include generate-margin-classes-for(30);

@include generate-margin-classes-for(35);

@include generate-margin-classes-for(40);

@include generate-margin-classes-for(50);

@include generate-margin-classes-for(60);

@include generate-padding-classes-for(0);

@include generate-padding-classes-for(5);

@include generate-padding-classes-for(10);

@include generate-padding-classes-for(15);

@include generate-padding-classes-for(20);

@include generate-padding-classes-for(25);

@include generate-padding-classes-for(30);

@include generate-padding-classes-for(40);

@include generate-padding-classes-for(50);

@include generate-padding-classes-for(60);

.full-height {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

.option-item {
    button {
        width: 200px;
        height: 200px;
        line-height: 30px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 2.0em;
        font-weight: 800;
        letter-spacing: 2px;
        text-shadow: 0 0 1px #333;
    }

    &:nth-child(1) button {
        background-color: #9b59b6;
    }
    
    &:nth-child(2) button {
        background-color: #f39c12;
    }
    
    &:nth-child(3) button {
        background-color: #34495e;
    }
}

.m-t-100 {
    margin-top: 100px;
}

.signature {
    background-color: #D7CCC8;
    padding: 10px 15px;
    font-family: 'Mrs Sheppards', cursive;
    position: fixed;
    right: -65px;
    bottom: 15px;
    color: lighten(#795548, 20%);
    text-shadow: 0px 1px 0px #5D4037;
    letter-spacing: 0.05em;
    font-size: 38px;
    transform: rotate(-30deg);
    text-align: center;
    width: 400px;
    display: block;
    box-shadow: 0 1px 5px #666;
    -webkit-box-shadow: 0 1px 5px #666;
    -moz-box-shadow: 0 1px 5px #666;
    -o-box-shadow: 0 1px 5px #666;
}

.form-header {
    padding: 10px 25px 10px 25px;
    font-size: x-large;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    background-color: #2c3e50;
}

a.btn{
    color: darken(white, 30%);

    &:hover{
        color: darken(white, 10%);
    }
}

.qa-row {
    font-size: 1.3em;
    line-height: 1.6em;
    padding-top: 0.8em;
    padding-bottom: 0.1em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-bottom: 1px dotted #bdc3c7;
    .form-group {
        margin-bottom: 0;
    }
    &:last-child {
        border-bottom: none;
    }
    .radio-inline {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
        input {
            margin-top: 5px;
        }
        &:hover {
            color: #fff;
            &:nth-child(1) {
                background-color: lighten(#25D366, 10%);
            }
            &:nth-child(2) {
                background-color: lighten(#DC4E41, 10%);
            }
            &:nth-child(3) {
                background-color: lighten(#34465d, 10%);
            }
        }
    }
    .qa-option {}
}

.add-new-medicine, .reaction-scale-page {
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    .list-container {
        .add-item {
            background-color: white;
            height: 60px;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            button {
                font-size: large;
                font-weight: 100;
                letter-spacing: 2px;
                color: white;
                border: none;
                width: 100%;
                height: 40px;
                background-color: rgba(0, 0, 255, 0.37);
            }
        }
        .inspection-item-list {
            height: 540px;
            background-color: white;
            overflow: scroll;
            .item {
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                padding: 5px;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

.inspector-page{
    .item{
        height: 250px;
        width: 25%;
        padding: 15px 7.5px;
        float: left;
        position: relative;
        min-width: 150px;
        max-width: 275px;

        .card{
            position: absolute;
            top: 15px;
            left: 7px;
            right: 8px;
            bottom: 15px;
            box-shadow: 0 1px 1px #aaa;
            background-color: #fff;
            padding: 15px 20px;
        }
    }
}

#addNewMedicineForm {
    padding: 10px 25px 25px 25px;
    .section-title {
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
    }
    .twitter-typeahead {
        width: 100%;
    }
}

#addInpectionDetails {
    .section-title {
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
    }
    .twitter-typeahead {
        width: 100%;
    }
}

.twitter-typeahead{
    display: block !important;
}

.appylaz-form {
    .form-group {
        .control-label {
            font-family: sans-serif;
            font-weight: lighter;
            letter-spacing: 0.1em;
        }

        input[type=text].form-control, textarea.form-control {
            border-radius: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -o-box-shadow: none;
            &:focus {
                box-shadow: none;
                -webkit-box-shadow: none;
            }
        }

        
    }
    
}

.feedback-table{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .feedback-row{
        padding-top: 10px;
        padding-bottom: 10px;

        &:nth-child(odd){
            background-color: #f0f0f0;
        }

        a.btn{
            color: white;
            
            &:hover{
                color: darken(white, 10%);
            
            }
        }

    }
}

.card, .feedback-page{
    background-color: white;
}

.card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;

    .card-label{
        position: absolute;
        top: 15px;
        right: 15px;
        color: lighten(black, 60%);
    }

    address{
        color: lighten(black, 80%);
    }
}

.header-row{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
    > div {
        display: table-cell;
        text-align: center;
        border-collapse: collapse;
        border-right: 1px dotted #aaa;

        &:last-child{
            border-right: none;
        }

    }
}