<template name="Dashboard">
  <div class="p-l-r-30">
    <div class="row">
    <div class="form-header">
      <a href="/" class="btn go-back m-l--20"><i class="glyphicon glyphicon-chevron-left"></i></a>
      {{headerText}}
      {{#if equals userType "inspector"}}
        {{#if newFeedback}}
          <span style="color: white">{{newFeedbackCount}} new feedback</span>
        {{/if}}
        {{#if hasUnattendedFeedback}}
          <a href="/checkfeedback" class="btn pull-right" title="New feedback!"><i class="glyphicon glyphicon-alert"></i></a>
        {{/if}}
      {{else}}
        <a href="/add/medicine" class="btn btn-success pull-right" title="Add New Product"><i class="glyphicon glyphicon-plus"> </i> Add New Product </a>
      {{/if}}
    </div>
      <div class="row m-t-10">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inspection-item-list">
          
        </div>
      </div>
    <div class="inspector-page col-xs-12">
      {{#each getItems}}
        <div class="item">
          <div class="card" data-shortid="{{shortid}}">
            <h4>{{drugName}}</h4>
            <p><small>{{manufacturerName}}</small></p>
            {{#each keywords}}
              <span class="label label-info">{{this}}</span>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  </div>
  {{> addNewInspectionItem}}
</template>