<template name="Inspector">
  <div class="">
    <div class="row">
    <div class="form-header">
      Dashboard
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 m-t-b-30">
          
            <button class="btn btn-primary pull-right js-add-item">Add item</button>
          
        </div>
        <div class="col-xs-12">
          
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inspection-item-list">
          
        </div>
      </div>
    </div>
    <div class="inspector-page col-xs-12">
      {{#each getItems}}
            <div class="item">
              <div class="card">
                <h4>{{name}}</h4>
                <p><small>{{manufacture}}</small></p>
                {{#each tags}}
                  <span>{{this}}</span>
                {{/each}}
              </div>
            </div>
          {{/each}}
    </div>
  </div>
  </div>
  {{> addNewInspectionItem}}
</template>