<template name="NewMedicine">
  <div class="add-new-medicine">
    <div class="form-header">
      Add new medicine
    </div>
    {{#autoForm schema='AddNewMedicineSchema' id="addNewMedicineForm" type="method" meteormethod="addNewMedicine" class="appylaz-form" doc=doc}}
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="shortid" readonly=true}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="drugName"}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="genericName"}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="compositions" rows=3}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="manufacturerName"}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="manufacturerEmail"}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="manufacturerMobile"}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="manufacturerAdderss" rows=3}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="keywords" placeholder="e.g. tag2, tag2, tag3" rows=3}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="submit" class="btn btn-lg btn-block btn-success" data-type="salary-edit">Save</button>
        </div>
      </div>
    {{/autoForm}}
  </div>
</template>