<template name="ReactionScale">
  <div class="reaction-scale-page">

    {{#if userName}}
    <div class="row">
      <h2 class="text-center form-group m-b-60">
        Hi <span class="js-username editable material-input" data-toggle="tooltip" data-placement="top" title="Not you ? Click to edit.">{{userName}} <i class="glyphicon glyphicon-pencil js-edit"></i></span> <span class="hidden js-username-edit"><input type="text" class="form-control js-editable-username" name="" value="{{userName}}"></span> !!
      </h2>
    </div>
    {{else}}
    <div class="p-l-r-50 p-t-b-30">
      <div class="row qa-row">
        <div class="col-xs-12 col-sm-6">
          What is Your name ?
        </div>
        <div class="col-xs-12 col-sm-6">
          <span class="js-username-edit">
            <input type="text" class="form-control js-editable-username">
          </span>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="form-header">
      Please share some details about your problem
    </div>
    {{#autoForm schema='DrugReactionProbabilitySchema' id="drugReactionProbabilityForm" type="method" meteormethod="submitReactionDetails" class="p-l-r-50 appylaz-form" doc=doc}}
      {{>afQuickField name="userName"}}
      {{>afQuickField name="txtId"}}
      {{>afQuickField name="queryId"}}
      {{>afQuickField name="shortid"}}
      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="section-title m-b-5">
            Drug Name
          </div>
          {{>afQuickField name="drugName" type="autofrom_typeahead" data-source="searchManufacturer" data-value-key="name" data-limit="50" }}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="manufacturerName"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Are there previous conclusive reports on this reaction?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus1"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Did the adverse event appear after the suspected drug was administered?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus2"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Did the adverse reaction improve when the drug was discontinued or a specific antagonist was administered?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus3"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Did the adverse event reappear when the drug was re‐administered?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus4"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Are there alternative causes (other than the drug) that could on their own have caused the reaction?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus5"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Did the reaction reappear when a placebo was given?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus6"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Was the drug detected in blood (or other fluids) in concentrations known to be toxic?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus7"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Was the reaction more severe when the dose was increased or less severe when the dose was decreased?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus8"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Did the patient have a similar reaction to the same or similar drugs in any previous exposure?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus9"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          Was the adverse event confirmed by any objective evidence?
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{>afQuickField name="Qus10"}}
        </div>
      </div>

      <div class="row qa-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="submit" class="btn btn-lg btn-block" data-type="salary-edit">Submit</button>
        </div>
      </div>
    {{/autoForm}}
  </div>
</template>